/.env
/__pycache__

# .gitignore

# Python
*.pyc
__pycache__/

# Virtual environment
venv/

# Environment variables
.env
*.mp4
*.mp3

# Other
/data_sample
/Roboto
/temp
/videos

# IDE specific
.vscode/